<%- include('partials/header.ejs') %>

<section>
    <form action="/register" method="post">
        <h1>Register!</h1>
        <input type="text" name="username" id="username" placeholder="username">
        <input type="password" name="password" id="password" placeholder="password">
        <button type="submit">Log in!</button>
    </form>
</section>

<%- include('partials/footer.ejs') %>